# ld65 config for the 6b.1b PSRAM-sine ROM. LoROM 128 KB, plus a WAVE segment
# pinned at SNES $A000 = file offset 0x2000 = raw PSRAM MIX_WAVE_BASE (linear load),
# where the FPGA mixer reads its 128-sample sine.
# Public domain (CC0). No warranty.

MEMORY {
    ZP:      start = $0000, size = $0100, type = rw;
    RAM:     start = $0200, size = $1E00, type = rw;

    ROM0:    start = $8000, size = $7FC0, type = ro, fill = yes, fillval = $FF, file = %O;
    HEADER:  start = $FFC0, size = $0020, type = ro, fill = yes, fillval = $00, file = %O;
    VECTORS: start = $FFE0, size = $0020, type = ro, fill = yes, fillval = $00, file = %O;

    PAD:     start = $0000, size = $18000, type = ro, fill = yes, fillval = $FF, file = %O;
}

SEGMENTS {
    CODE:    load = ROM0,    type = ro,  start = $8000;
    WAVE:    load = ROM0,    type = ro,  start = $A000;   # file offset 0x2000
    HDR:     load = HEADER,  type = ro;
    VECTORS: load = VECTORS, type = ro,  start = $FFE4;
}
